.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background-color: #1d1f20;
  color: #e5e5e5;
  padding: 0.5em;
}

.title {
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-size: 2em;
}

.tableContainer {
  width: 100%;
  max-width: 100%;
}
